@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


.full-page
{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #00ff2f !important;
    position: absolute;
}

*
{
   font-family: 'Poppins', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;
   list-style: none;
}
body
{
   font-family: 'Times New Roman' , 'Times New Roman', Times, serif;
}
nav
{
   background-color: #500c3f;
   height: 80px;
   width: 100%;
}
label.logo
{
   color: white;
   font-size: 36px;
   line-height: 80px;
   padding: 0 100px;
   font-weight: bold;
}
nav ul
{
   float: right;
   margin-right: 20px;

}
nav ul li
{
   display: inline-block;
   line-height: 80px;
   margin: 0;

}

nav ul li a{
   color: rgb(255, 255, 255);
   font-size: 1rem;
   border-radius: 3px;
   padding: 0.5cm;
}
a.active,a:hover{
   color: #00ff26;
   transition: 0.5s;
}
.checkbtn{
   font-size: 31px;
   color: rgb(253, 5, 5);
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}
@media(max-width:768px){
   label.logo{
      font-size: 31px;
      padding-left: 50px;
   }
   nav ul li a{
      font-size: 1rem;
   }
}
@media(max-width:852px){
   .checkbtn{
      display: block;
   }
   ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 78px;
      left: -100%;
      background-color: rgb(93, 92, 92);
      text-align: center;
      transition: all 0.5s;
   }
   nav ul li{
      display: block;
      margin: 0;
      line-height: 41px;
   }
   nav ul li a{
      font-size: 20px;
   }
   a:hover,a.active{
      background-color: none;
      color: #a1a321;
   }
   #check:checked~ul{
      left: 0;
   }
}
.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:rgb(58, 58, 58);
}

.container .content h3 span{
   background: rgb(232, 26, 26);
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:rgb(252, 8, 8);
}

.container .content h1 span{
   color:rgb(10, 8, 8);
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: rgb(10, 142, 236);
   color:rgb(255, 0, 0);
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: rgb(255, 255, 255);
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: rgb(255, 255, 255);
   background:url('Login\ wallpaper.webp');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   background: rgba(134, 133, 133, 0.464);
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:rgb(235, 43, 43);
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: rgb(230, 228, 228);
   border-radius: 5px;
}

.form-container form select option{
   background: rgb(244, 243, 243);
}

.form-container form .form-btn{
   background: #e4bbc4;
   color:rgb(255, 0, 51);
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: rgb(128, 26, 231);
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:rgb(235, 227, 227);
}

.form-container form p a{
   color:rgb(250, 22, 71);
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: rgb(35, 142, 230);
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
} 
